<% content_for :guide do %>
  <div class="container history-pages">
    <%= render partial: 'shared/overview' if current_user %>
    <div class="row">
      <div class="flex-box horizontal profile-body">
        <!-- profile-sidebar -->
        <div class="flex-content">
          <%= render 'tabs', active: :account %>
          <div class="profile-tabs-content">
            <table class="data-table text-center">
              <thead>
                <tr>
                  <th><%= t('.type') %></th>
                  <th><%= t('.timestamp') %></th>
                  <th><%= t('.currency') %></th>
                  <th><%= t('.amount') %></th>
                  <th><%= t('.fee') %></th>
                  <th><%= t('.txid') %></th>
                </tr>
              </thead>
              <tbody class="list">
                <%= render partial: 'transaction', collection: @transactions %>
              </tbody>
            </table>
          <div class="float-right">
            <%= paginate @transactions %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
