<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="<%=root_path %>"><%= image_tag "logo.png" %></a>
      </div>
      <div class="col-md-8 text-right">
        <%= render partial: 'shared/header_profile_setting' if current_user %>
        <% unless current_user %>
          <a href="<%= account_session_path %>">
            <%= t('header.login') %>
          </a>
          <a href="<%= new_account_registration_path %>">
            <%= t('header.signup') %>
          </a>
        <%end %>
        <%#= render partial: 'shared/header_lang_sel' %>
      </div>
    </div>
  </div>
</header>
