<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon" />

    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'bootstrap.min'%>
    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'index'%>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>
  <body class="ui-radius g-background" data-lang="<%= locale_name %>" id="<%= body_id %>">
    <div class="flex-box vertical home-index">
      <%= content_for?(:header) ? yield(:header) : render('shared/header') %>
      <%= content_for?(:frame) ? yield(:frame) : render('shared/frame') %>
      <%= content_for?(:footer) ? yield(:footer) : render('shared/footer') %>
    </div>
    </body>
</html>
