<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <link href="/favicon.ico" rel="shortcut icon" />
    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'index'%>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'funds' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">
    <div class="flex-box vertical profile">
      <%= content_for?(:header) ? yield(:header) : render('shared/header') %>
      <%= content_for?(:frame) ? yield(:frame) : render('shared/frame') %>
      <%= content_for?(:footer) ? yield(:footer) : render('shared/footer') %>
    </div>
  </body>
</html>

